*.cpe
*.exe
build/
temp/
license_data.dat
.vs/
.vscode/settings.json
.vscode/launch.json
.vscode/tasks.json
*.blend1
assets/
assets_to_build/audio/samples/downsample.py
/assets_to_build/audio/samples/sfx_hq
/tools/bin
