[submodule "tools/obj2psx"]
	path = tools/obj2psx
	url = https://github.com/FlannyH/obj2psx.git
[submodule "tools/midi2psx"]
	path = tools/midi2psx
	url = https://github.com/FlannyH/midi2psx.git
[submodule "tools/psx_vislist_generator"]
	path = tools/psx_vislist_generator
	url = https://github.com/FlannyH/psx_vislist_generator.git
[submodule "tools/psx_soundfont_generator"]
	path = tools/psx_soundfont_generator
	url = https://github.com/FlannyH/psx_soundfont_generator.git
[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "external/gl3w"]
	path = external/gl3w
	url = https://github.com/skaslev/gl3w.git
[submodule "external/cglm"]
	path = external/cglm
	url = https://github.com/recp/cglm.git
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui
[submodule "external/imguizmo"]
	path = external/imguizmo
	url = https://github.com/CedricGuillemet/ImGuizmo
[submodule "external/imgui-filebrowser"]
	path = external/imgui-filebrowser
	url = https://github.com/AirGuanZ/imgui-filebrowser
[submodule "tools/fsfa-builder"]
	path = tools/fsfa-builder
	url = https://github.com/FlannyH/fsfa-builder
